.box {
    padding: 100px 0px;

    .top_box {
        width: 100%;

        &__list {
            width: 40%;
            list-style: none;
        }

        &__item {
            margin: 10px;

            span {
                font-weight: 700;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.2px;
                color: #1BA0AB;
            }
            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.2px;
                color: #737373;
            }
        }
        &__title {
            font-weight: 700;
            font-size: 40px;
            line-height: 50px;
            letter-spacing: 0.2px;
            color: #252B42;
        }
    }

    .bottom_box {
        width: 100%;

        
    }
}